# Тотальный запрет на любые секреты и их копии
*env*
.env
.env.*
*.backup

# Системные настройки редакторов и мусор
.idea/
*.iml
.DS_Store

# Питон-кэш и виртуальные окружения
__pycache__/
*.pyc
.venv/
env/
/.env
